input {
    padding: 6px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    background-color: #3273dc;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2759a5;
}

#error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

